@model DoctorAppoinment.Models.DoctorInfo
@{
    ViewBag.Title = "DoctorSetup";
}

</br>
<style>
    .error{
        color:red;
    }
</style>
<div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="text-center">Doctor Information</h3>
            </div>
            <div class="panel-body">
               
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();

                <div class="col-md-6">
                    
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        @Html.LabelFor(m => m.Name, new { @class = " control-label" })
                        
                            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Name)
                        
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.MotherName, "Mother Name", new { @class = "control-label" })
                        
                            @Html.TextBoxFor(m => m.MotherName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.MotherName)
                        
                    </div>
                    
                    <div class="form-group">
                        @Html.LabelFor(m => m.DateofBirth, "Date of Birth *",  new { @class = "control-label" })
                       
                            @Html.TextBoxFor(m => m.DateofBirth, new { @class = "form-control datepicker" })                       
                        
                        @Html.ValidationMessageFor(m => m.DateofBirth)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Address, "Address *",  new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.MobileNo, "Mobile.No *", htmlAttributes: new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, "Email",  new { @class = "control-label" })
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                    
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FatherName, "Father Name *", new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.FatherName, new {  @class = "form-control"  })
                        @Html.ValidationMessageFor(model => model.FatherName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DistrictInfoID, "District *", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.DistrictInfoID,ViewBag.DistrictList as SelectList,"--Select District", htmlAttributes: new { @class = "form-control", @tabindex = "10" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ThanaInfoId, "Thana ", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.ThanaInfoId, ViewBag.Thana as SelectList, "--Select Thana", htmlAttributes: new { @class = "form-control" })

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.CountryInfoId, "Country *", htmlAttributes: new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.CountryInfoId,  ViewBag.Country as SelectList, "--Select Country",  htmlAttributes : new { @class = "form-control" } )

                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Gender,"Gender *", htmlAttributes: new { @class = "control-label" })                       
                        <div class="radio-inline">
                            @Html.RadioButton("Gender", "Male", 

          new { id = "IsMale" }) Male

                        </div>

                        <div class="radio-inline">

                            @Html.RadioButton("Gender", "Female",

           new { id = "IsFemale" }) Female

                        </div>
                    </div>
                   
                    <div class="form-group">
                        @Html.HiddenFor(model => model.Id)
                        <button type="button" id="btnSubmit"class="btn btn-primary">Submit</button>

                        <button type="button" id="btnClear" class="btn btn-warning">Clear</button>
                        <p style="color: green">
                            @if (@ViewBag.Message != null)
                            {
                                @ViewBag.Message
                            }
                        </p>
                    </div>
                </div>
}
            </div>
        </div>
        <table id="informationHistory" class="table table-bordered table-hover display">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>FatherName</th>
                    <th>MotherName</th>
                    <th>PhoneNo</th>
                    <th>Email</th>
                    <th></th>
                    <th></th>*
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/FormScript/doctorinfoform.js">      
    </script>
   <script>
        $('.datepicker').datepicker();
</script>
}
